#container {
    position: absolute;
    width: 100%;
    max-width: 960;
    top: 250px;
    left: 555px;
    
}

body{
    background-size: 100%;
    
}

H1,h2{
    font-family:  "Permanent Marker", cursive;
    font-size: 65px;
    text-align: center
}

h3 {
    font-size: 35px;
   color: whitesmoke;
}
p{
    color: whitesmoke;
    font-size: 25px;
}
#wins{
    color: darkgreen;
}

#current-word{
    color: khaki;
    font-size: 25px;
}

#guesses-remaining{
    color: aqua;
    font-size: 25px;
}
#guessed-letters{
    color: red;
    font-size: 25;
}
div {
    text-align: center;
}

#photo-div {
    width: 250px;
    padding: 20px;
    margin-left: 90px;
    margin-top: -100px;
   

}

img{
    width: 250px;
    height: 100px;
    border: 2px solid black;
    }

#game-section {
    float: left;
    width: 500px;
    height: 580px;
    padding: 40px;
    border: 10px dotted rgb(168, 144, 7);
    box-shadow: inset 0 -3 0 0 black, 0 3px 0 0 black;
    background: #000;
}



